../config-service/HELP.md
backend/config-service/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/sonarlint
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/issuestore/index.pb
backend/customer-service/src/main/java/code/with/vanilson/customerservice/MongoConfig.java
.idea/**
.env
# Ignore docker-compose-not-work directory
docker-compose-not-work/

# Ignore endpoints directory
endpoints/

# Ignore sheets directory
sheets/



../configuration-service/data

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
